.btn {
  display: inline-block;
  padding: 11px 32px 9px;

  &_outline {
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
  }

  &_solid {

  }
}

@media (min-width: 1150px) {
  .btn {
    padding: 15px 46px 13px;
  }
}