.footer-tab {
  background-color: #0F273C;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &__container {
    display: flex;
    align-items: center;
    padding: 8px 0 7px;
    width: 95%;
    margin: 0 auto;
  }

  &__link {
    color: #fff;
    font-family: benton-sans-compressed, sans-serif;
    text-transform: uppercase;
    font-size: 14px;

    & + & {
      margin-left: 20px;
    }
  }

  &__link-wrap {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .footer-tab {
    &__link {
      font-size: 16px;
    }

    &__container {
      padding: 11px 0 10px;
    }
  }
}