.latest-projects {
  padding: 10vw 0;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;

  &__slider-item {
    transform: translateX(-32px) scale(0.85);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;

    .scrl._visible & {
      opacity: 1;
      visibility: visible;
      transform: translateX(0) scale(1);
    }
  }

  &__description {
    margin: 1.25em auto 2.35em;
    max-width: 470px;
    padding: 0 16px;
  }

  &__btn {
    margin-bottom: 4.7em;
  }

  // Owl Carousel changes
  .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 40px;
  }

  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }
}

@media (min-width: 768px) {
  .latest-projects {
    .owl-prev, .owl-next {
      width: 60px;
    }
  }
}

$elements: 15;
@for $i from 0 to $elements {
  .owl-item:nth-child(#{$i + 1}) {
    .latest-projects__slider-item {
      transition-delay: #{($i + 1)/10}s !important;
    }
  }
}