.overview {
  position: relative;
  background-color: #fff;
  z-index: 1;

  &__first {
    background: #133C5B;
    color: #fff;
    padding: 12.35vw 0 14.9vw;
    position: relative;

    &:after {
      content: 'Overview';
      position: absolute;
      left: 4.5%;
      top: 12.35vw;
      text-transform: uppercase;
      transform: rotate(90deg) translateX(-0.5em);
      transform-origin: left bottom;
      font-weight: 700;
      font-size: 8px;
      letter-spacing: 8px;
    }
  }

  &__second {
    padding: 13vw 0 10vw;
    background-color: #fff;
  }

  &__container {
    width: 77%;
    margin: 0 auto;
  }

  &__description {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }

  &__description-text {
    font-weight: 300;
    font-size: 19px;
  }

  &__demo {
    background-image: url("../images/dest/overview-demo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 140vw;
    width: 100%;
    transition-delay: 0.15s !important;
    transition-duration: 0.75s !important;
  }

  &__row {
    display: flex;
    align-items: flex-end;

    &:last-of-type {
      .overview__highlight-text {
        top: -0.25em;
      }
    }
  }

  &__highlight {
    font-size: 46px;
    font-weight: 300;
    color: #9BB6C7;
    text-transform: uppercase;
  }

  &__highlight-text {
    color: #133C5B;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: .5em;
    position: relative;
    top: -0.85em;
  }

  &__text {
    color: #133C5B;
    margin: 1.5em 0 0 .25em;
  }
}

@media (min-width: 768px) {
  .overview {
    &__description {
      width: 50%;
      padding-right: 7.4vw;
    }

    &__demo {
      width: 50%;
      position: absolute;
      top: 12.35vw;
      bottom: 0;
      right: 0;
      height: auto;
    }
  }
}

@media (min-width: 1150px) {
  .overview {
    &__first {
      &:after {
        font-size: 10px;
      }
    }

    &__description-text {
      font-size: 2.35vw;
    }

    &__highlight {
      font-size: 5.5vw;
    }

    &__highlight-text {
      font-size: 1.1vw;
      top: -1.25em;
    }

    &__row {
      &:last-of-type {
        .overview__highlight-text {
          top: -0.75em;
        }
      }
    }

    &__text {
      margin: 2.5em 0 0 .5em;
    }
  }
}