.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2px 0;
  z-index: 3;
  transition: background-color 0.5s linear;
  transform: translateY(-100%);
  animation: top-nav-slide-from-top 0.75s ease-in-out 1.35s 1 forwards;

  &_solid {
    background-color: rgba(#133c5b, 0.75);
  }

  &__container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    width: 150px;
    height: 35px;
    transform: translateY(-1px);
  }

  &__logo {
    display: block;
    width: 100%;
    height: auto;
  }

  .hamburger {
    padding: 10px;
    transform: translateY(2px);
  }

  .hamburger-box {
    &:after {
      content: 'Menu';
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translate(-100%, -50%);
      color: #fff;
      margin-top: 2px;
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) and (min-height: 480px) {
  .top-nav {
    padding: 0.35vw 0;

    &__logo-link {
      width: 180px;
      height: 40px;
    }

    .hamburger {
      padding: 12px;
      transform: translateX(12px);
    }

    .hamburger-box {
      &:after {
        left: -20px;
        font-size: 16px;
      }
    }
  }
}