body {
  line-height: 1;
}

h1 {
  font-family: benton-sans-wide, sans-serif;
  letter-spacing: 0.35px;
  line-height: 1.2;
  font-size: 24px;
}

h2 {
  font-family: benton-sans-wide, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #0F283B;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: 1.12;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

@media (min-width: 768px) {
  p {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 2.75vw;
  }
}

@media (min-width: 1150px) {
  h1 {
    font-size: 3.5vw;
  }

  h2 {
    font-size: 2.5vw;
  }
}